<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Finansial_Insight_Excel_Import_Export.My.MySettings.LikviditetsmodulConnectionString"
            connectionString="Data Source=VBJXPS2017;Initial Catalog=Likviditetsmodul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Finansial_Insight_Excel_Import_Export.My.MySettings.ConnectionString"
            connectionString="Driver={Microsoft Excel Driver (*.xls)};dbq=C:\Users\vbj\Documents\Import_data_1.xls;defaultdir=C:\Users\vbj\Documents;driverid=790;fil=excel 8.0;filedsn=C:\Users\vbj\source\repos\Finansial insight\Import excel.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;readonly=1;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
        <add name="Finansial_Insight_Excel_Import_Export.My.MySettings.ConnectionString1"
            connectionString="Driver={Microsoft Text-Treiber (*.txt; *.csv)};defaultdir=C:\Users\vbj\source\repos\Finansial insight;driverid=27;fil=text;filedsn=C:\Users\vbj\source\repos\Finansial insight\Import csv.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
        <add name="Finansial_Insight_Excel_Import_Export.My.MySettings.ConnectionString2"
            connectionString="Driver={Driver do Microsoft Excel(*.xls)};dbq=C:\Users\vbj\Documents\Import_data_1.xls;defaultdir=C:\Users\vbj\Documents;driverid=790;fil=excel 8.0;filedsn=C:\Users\vbj\source\repos\Finansial insight\Import excel.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;readonly=1;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>