<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inteiro_Fnancial_Insight.My.MySettings.Inteiro_Financial_InsightConnectionString"
            connectionString="Data Source=VBJXPS2017;Initial Catalog=&quot;Inteiro Financial Insight&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Inteiro_Fnancial_Insight.My.MySettings.LikviditetsmodulConnectionString"
            connectionString="Data Source=VBJXPS2017;Initial Catalog=Likviditetsmodul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>