<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Walk.My.MySettings.WalkConnectionString" connectionString="Data Source=VBJXPS2017\VITUS;Initial Catalog=Walk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Walk.My.MySettings.WalkConnectionString1" connectionString="Data Source=VBJXPS2017;Initial Catalog=Walk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>